.search {
  padding: 40px 0 0 0;
  background-color: rgb(245, 245, 245);
  &__container {
    width: 1020px;
    padding: 0 60px;
    margin: 0 auto;
    &__title {
      display: flex;
      &__front {
        font-size: 18px;
        font-weight: 600;
      }
      &__back {
        padding: 0 0 0 5px;
      }
    }
    &__results {
      font-size: 12px;
      color: rgb(136, 136, 136);
    }
    &__items {
      width: 780px;
      margin: 26px auto 0 auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      &__item {
        width:220px;
        padding: 0 0 40px 0;
        &__picture {
          background-color: $BACK-WHT;
          width: 220px;
          height: 220px;
          position: relative;
          overflow: hidden;
          z-index: auto;
          &__img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: auto;
            height: 220px;
            object-fit: cover;
            vertical-align: bottom;
          }
          &__sold {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: auto;
            height: 220px;
            color: $TEXT-WT;
            font-size: 24px;
            text-align: center;
            line-height: 220px;
            background-color: rgba(136, 136, 136, 0.5)
          }
        }
        &__list {
          background-color: $BACK-WHT;
          color: rgb(51, 51, 51);
          padding: 16px;
          &__name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          &__price {
            font-size: 16px;
          }
        }
      }
    }
  }
}
