.account-page{
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
  padding: 0 0 250;
  &__header{
    text-align: center;
    &__banner{
      display: inline-block;
      width: 120px;
      height: 33px;
      margin: 11px 0 12px;
      line-height: 33px;
    }
  }
  &__main{
    display: block;
    background: #fff;
    margin: 0;
    padding: 0;
    &--head{
      padding: 16px;
      font-size: 18px;
      line-height: 1.5;
      font-weight: bold;
      border-style: solid;
      border-width: 0;
      text-align: center;
    }
    &--inner{
      padding: 24px 16px 40px;
      border-top: 1px solid #f5f5f5;
      &__content{
        max-width: 343px;
        margin: 0 auto;
        padding: 0;
            .form-group{
              margin: 0;
              padding: 0 0 40px 0;
              label{
              font-weight: 600;
              font-weight: bold;
              }
              span.form-require{
              background-color: #3CCACE;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              }
              span.form-any{
                background-color: lightgray;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                }
              .input-default{
                width: 100%;
                margin: 8px 0 0;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
              .password-info{
                color: gray;
                padding : 10px 0 0 0;
              }
              .form-password-revelation{
                font-weight: normal;
                padding : 10px 0 0 0;                
              }
              h3{
                font-weight: bold;
                font-size: 14px;
              }
              p.caution{
                margin: 8px 0 0;
                padding: 0;
                line-height: 1.5;
              }
              .input-default-half{
                width: calc(50% - 6px);
                margin: 8px 0 0;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
              .input-default-quater{
                width: calc(25% - 6px);
                margin: 8px 0 0;
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: #fff;
                line-height: 1.5;
                font-size: 16px;
              }
              select{
                width: 90px;
                position: relative;
                z-index: 2;
                height: 48px;
                margin: 8px 0 0 0;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
              }
              p.form-caution{
                margin: 8px 0 0;
                line-height: 1.5;
                color: gray;
              }
              .submit-caution{
                line-height: 1.5;
                a{
                  text-decoration: none;
                  color: #0099e8;
                }
              }
            }
            .submit{
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              text-align: center;
            }
            p.privacy-info{
              text-align: right;
              a{
                text-decoration: none;
                color: #0099e8;
              }              
            }
            p.privacy-policy{
              background-color: #f5f5f5;
              padding: 8px 16px;
              color: #888888;
              font-size: 12px;
              line-height: 1.5;
              a{
                text-decoration: none;
                color: #0099e8;
              }
            }
      }
    }
  }
  &__footer{
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    text-align: center;
    .caution{
      font-size: 12px;
      li{
        padding: 10px 0;
        a{
          text-decoration: none;          
          color: #333;
        }
      }
    }
    a.footer-logo{
      img{
        margin: 40px auto 0;
      }
    }
    p.footer-inc{
      padding: 8px 0;
      font-size: 13px;
    }
  }
}