.sign_in-page{
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
  padding: 0 0 250;
  &__header{
    text-align: center;
    &__banner{
      display: inline-block;
      width: 120px;
      height: 33px;
      margin: 11px 0 12px;
      line-height: 33px;
    }
  }
  &__main{
    display: block;
    margin: 0;
    padding: 0;
    &--inner{
      padding: 24px 16px 0px;
      border-top: 1px solid #f5f5f5;
      max-width: 456px;
      background: #fff;
      margin: 0 auto;
      &__new-account{
        text-align: center;
        padding: 24px 32px;
        label{
          font-size: 14px;
        }
        a{
          text-decoration: none;
          p.new-account{
            background: #0099e8;
            border: 1px solid #0099e8;
            color: #fff;
            width: 100%;
            line-height: 40px;
            font-size: 14px;
            margin: 8px 0 0;
          }
          p.new-account_google{
            background: #d42323;
            border: 1px solid #d42323;
            color: #fff;
            width: 100%;
            line-height: 40px;
            font-size: 14px;
            margin: 8px 0 0;
          }
        }
    }
      &__content{
        padding: 24px 32px;
        border-top: 1px solid #eee;        
          .form-group{
            margin: 24px 0 0;
              .input-default{
                width: 100%;
                height: 48px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background-color: #fff;
                line-height: 1.5;
                font-size: 16px;
                // paddingが気持ち悪い・・・
              }
            }
            .submit{
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              text-align: center;
            }

            p.password-info{
              margin: 40px 0 0 0;
              a{
                text-decoration: none;
                color: #0099e8;
              }
            }

      }
    }
  }
  &__footer{
    // position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 20px 0;
    text-align: center;
    ul.caution{
      font-size: 12px;
      padding: 10px 0;
      li{
        padding: 10px 0;
        a{
          text-decoration: none;          
          color: #333;
        }
      }
    }
    a.footer-logo{
      img{
        margin: 40px auto 0;
      }
    }
    p.footer-inc{
      padding: 8px 0;
      font-size: 13px;
    }
  }
}