@import "./reset";
@import "./color";
@import "font-awesome-sprockets";
@import "./font-awesome";

@import "./header";
@import "./footer";
@import "./notice";
@import "./pagination";
@import "./breadcrumbs";

@import "./main";
@import "./mypage";

@import "./show";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./sell_item";
@import "./buy_item";

@import "./registration_new";
@import "./sessions_new";

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

#error_explanation {
  height: 150px;
  color: rgb(199, 42, 42);
}
