.header
  .header__inner
    .header__inner__top
      = link_to "#", class: "header__inner__top__logo" do
        = image_tag '/logo.png'
      .header__inner__top__form
        キーワードから探す
      .header__inner__top__submit
        = image_tag '/icon-search 1.png'
    .header__inner__bottom
      .header__inner__bottom__left
        .header__inner__bottom__left__category
          カテゴリー
        .header__inner__bottom__left__brand
          ブランド
      .header__inner__bottom__right
        .header__inner__bottom__right__login
          ログイン
        .header__inner__bottom__right__signup
          新規会員登録
          = link_to 'サインアウト', "/users/sign_out", method: :delete
